@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* Début de la mise en forme de la navbar */
header {
    background-color: #ada5a57a;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* padding: 1rem 0; */
    padding: auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h1 {
    margin: auto;
    font-size: 1.5rem;
    color: #ff6f61;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-weight: bold;
}

header nav ul li {
    margin-left: 1rem;
}

header nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    padding: auto; 
    transition: background-color 0.3s;
    /* padding: 0.5rem 1rem; */
}

header nav ul li a:hover {
    background-color: #27e08a;
    color: #fff;
    border-radius: 6px;
    transform: scale(1.1);
    background-color: #43ce94;
}
/* Fin de la mise en forme de la navbar */

.body{
 font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,h2,h3,h4,h5,form,footer,nav{
font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

/* .carousel-container {
    max-width: 50%;
    margin: 50%;
} */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    /* display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; */
    padding: 0;
    margin: 0;
    background: linear-gradient(to left top, #b46d9f3d, #c2d4bd60 );
  }


/* Styles pour le slider de cartes 3D */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
	list-style: none;
}
.slide1 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-image: url(../images/);
	background-size: cover;
	background-position: center center;
}
.slideshow {
	position: absolute;
	width: 800px;
	margin: auto;
	overflow: hidden;
	box-shadow: 0 20px 20px 5px rgba(0, 0, 0, 0.3);
	border-radius: 15px;
}
.slideshow ul {
	position: relative;
	left: 0;
	width: 7000px;
	transition: left  0.1s ease;
	animation: slide 15s infinite;
}
.slideshow ul li {
	display: inline-block;
	height: auto;
	float: none;
	width: 800px;
}
.single-img {
	margin: 0 auto;
	padding: 0;
	width: 800px;
    height: 400px;
}
.single-img img {
	width: 100%;
}
@keyframes slide1 {
	20% {
		left: 0;
	}
	25% {
		left: -800px;
	}
	35% {
		left: -800px;
	}
	45% {
		left: -1600px;
	}
	60% {
		left: -1600px;
	}
	75% {
		left: -2400px;
	}
	90% {
		left: -2400px;
	}
	100% {
		left: 0;
	}
}

 

/* Styles pour le sidebar */
.sidebar {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #2c302c;
    border-radius: 0 10px 10px 0;
    padding: 10px;
    z-index: 1000;
}

.sidebar a {
    color: white;
    display: block;
    text-align: center;
    margin: 10px 0;
    font-size: 20px;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.vertical-frame {
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.mt1{
 text-align: left;



}
.bg-green {
    background-color: #008000;
    color: white;
}

.section-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #333;
}

.value-title {
    font-size: 1.75rem;
    color: #4ade80;
}

.value-content {
    font-size: 1.1rem;
    color: #555;
}

.value-card {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.value-card:hover {
    transform: translateY(-10px);
}

#map {
            height: 500px;
            width: 100%;
        }
        
.login-box {
            background-color: white;
            border-radius: 15px;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border: 2px solid #008000;
            animation: border-animation 2s infinite;
            width: 100%;
            max-width: 500px;
            margin-left: auto;
            margin-right: auto;
        }

        @keyframes border-animation {
            0% {
                border-color: #008000;
            }

            50% {
                border-color: #00ff00;
            }

            100% {
                border-color: #008000;
            }
        }

        .login-box h2 {
            margin-bottom: 20px;
            text-align: center;
        }

        .login-box .form-group {
            margin-bottom: 15px;
        }

        .login-box .btn-primary {
            background-color: #008000;
            border-color: #008000;
        }

        .login-box .btn-primary:hover {
            background-color: #006400;
            border-color: #006400;
        }

        .login-box .form-check-label {
            font-weight: normal;
        }

        .login-box .links a {
            color: #008000;
            text-decoration: none;
            display: inline-block;
            margin: 5px 0;
        }

        .login-box .links a:hover {
            text-decoration: underline;
        }

    /* Debut de la Mise en forme de la d'inscription */
    
        input[type="text"], input[type="email"], input[type="password"] {
            width: 100%; /* Ajustez la largeur selon vos besoins */
            height: 20PX;
            padding: 20px;
            border: 1px solid #6f8a69;
            border-radius: 10px; /* Ajustez le rayon des bordures selon vos besoins */
            box-sizing: border-box; /* Pour inclure le padding et la bordure dans la largeur totale */
            margin-bottom: 15px; /* Pour ajouter un espacement entre les champs */
            display: flex;
            justify-content: space-between;
        }
          /* Mise en forme de la balise select sur la page Trouver un artisan */
        .form-select{

            width: 100%; 
            height: 30px;
            padding: 20px;
            border: 1px solid #6f8a69;
            border-radius: 10px; 


        }


        textarea{

            width: 100%; /* Ajustez la largeur selon vos besoins */
            padding: 20px;
            display: flex;
        }
        

        .form-group {
            margin-bottom: 15px;
            width: 100%;          /* Ajustez la largeur des inputs */
          

        }
        .form-group1 {
            margin-bottom: 15px;
            width: 100%;
          

        }

        .form-group2{

            margin-bottom: 15px;
            width: 60%;                /* Ajustez la largeur des inputs  de la page trouver un artisan */
        }


        .form-container {
            display: flex;
            flex-wrap: wrap;
            gap: 10px; /* Espace entre les colonnes */
        }
        
        .form-group.half-width {
            flex: 1 1 35%; /* 35% pour deux colonnes avec un espace entre elles */
        }
        
        .form-group.full-width {
            flex: 1 1 100%; /* Utilisé pour les éléments à pleine largeur, si nécessaire */
        }
        .form-section, .image-section {
             flex: 1;
            margin: 30px; 
            width: 100%;
            padding: 30px;
        }
        
         
        .form-section {
            width: 50%;
            margin:  auto;
            padding: 30px;
        }
        
        .image-section img {
            width: 50%;
            border-radius: 10px;
            border: 1px solid rgb(73, 73, 119);
        }

        /* Fin de la Mise en forme de la d'inscription */
        
        /* Debut de la Mise en forme de la page de contact */
        
        .contact-form {
            width: 50%;
            margin:  auto;
            padding: 30px;
            border-radius: 10px;
            border: 1px solid #008000;
            box-shadow: 0 0 10px rgba(0, 128, 0, 0.5);
        }
        .contact-form h2 {
            text-align: center;
            margin-bottom: 20px;
            color: #008000;
        }
        .contact-form .form-group label {
            color: #008000;
        }
        .contact-form .form-control {
            border-radius: 5px;
        }
        .contact-form .btn {
            background-color: #008000;
            color: white;
            font-weight: bold;
            border-radius: 5px;
        }
        .contact-form .btn:hover {
            background-color: #006400;
        }
       /* Fin de la Mise en forme de la page de contact */
    
       /* .navbar-nav .nav-item .dropdown-menu {
        left: auto;
        right: 0;
    } */
    .profile-pic {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    /* Style pour la section principale */
.cont {
    width:90%;
    margin: 0 auto;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.slogan {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1.7rem;
    color: #555;
    margin: 2rem;
    font-style: italic;
}

.slogan img {
    width: 50%; 
    height: auto;
    margin-bottom: 1rem;
    border-radius: 5%; 
    transition: all 0.5s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
.slogan img:hover
{
    transform: scale(1.07);
}
.slogan h2 {
    font-size: 1.5rem;
    color: #333;
    font-style: italic;
    margin: 0;
}

/* Style pour la liste des métiers */
.list-metier {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Style pour chaque élément de la liste */
.list-metier li {
    margin: 10px;
    padding: 1px;
    flex: 1 1 calc(25% - 30px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.list-metier li:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Style pour les liens */
.list-metier a {
    text-decoration: none;
    color: inherit;
    display: block;
    text-align: center;
}

/* Style pour les figures */
.list-metier figure {
    margin: 0;
    padding: 0;
}
.cont{
background-image: url(../images/);

background-repeat: no-repeat;
}

/* Style pour les images */
.list-metier img {
    max-width: 30%;
    border-radius: 10px;
}
/* Style pour les légendes */
.list-metier figcaption {
    font-weight: bold;
    color: #333;
}

/* Responsive design */
@media (max-width: 768px) {
    .list-metier li {
        flex: 1 1 calc(50% - 30px);
    }
}

@media (max-width: 480px) {
    .list-metier li {
        flex: 1 1 100%;
    }
}

.vous {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.vous h1 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

.arti {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    flex-wrap: wrap;
}

.arti img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin: 10px;
}

.arti p {
    font-size: 1.2em;
    color: #666;
    margin: 20px 0 0 0;
    max-width: 600px;
    text-align: left;
}

h2 {
    text-align: center;
    color: #333;
    font-size: 1.5em;
    margin: 20px;
}

h2 a {
    color: #007BFF;
    text-decoration: none;
}

h2 a:hover {
    text-decoration: underline;
}
.vous {
    max-width: 100%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}
.btn-custom {
    background-color: #ffffff; /* Fond blanc */
    color: #5cb85c; /* Texte vert */
    border: 2px solid #5cb85c; /* Bordure initiale verte */
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 25px; /* Bordure arrondie */
    transition: color 0.3s, background-color 0.3s, border-color 0.3s, transform 0.3s;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.btn-custom:hover {
    background-color: #5cb85c; /* Fond vert au survol */
    color: #ffffff; /* Texte blanc au survol */
    border-color: #5cb85c; /* Bordure verte au survol */
    transform: scale(1.05); /* Légèrement agrandir le bouton au survol */
}
.image-section {
    flex: 0 0 300px; /* Vous pouvez ajuster la largeur selon vos besoins */
    padding: 20px;
}

.right-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: bloc;
    margin-left: auto;
}


.vous h1 {
    text-align: center;
    color: #333;
}
.arti {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
} 

.portfolio {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
} 

 .arti img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 25%;
    height: auto;
    border-radius: 8px;
} 
 .arti p {
    font-size: 17px;
    color: #555;
    line-height: 1.6;
    margin-top: 20px;
    text-align: center;
} 

.slogan {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%; 
  border-radius: 5%;
  background-color: rgb(244, 246, 250);
  margin: 2rem;
  font-style: italic;
}

.slogan img {
  width: 50%; 
  height: 260px;
  border-radius: 5%; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.slogan h2 {
  font-size: 1.5rem;
  color: #333;
  font-style: italic;
  margin: 0;
}
.arti img {
  display: flex;
   flex-wrap: wrap; 
  justify-content: space-around; 
  width: 25%;
  height: auto;
  border-radius: 8px;
}  
.vous {
background-color: #fff;
padding: 20px;
margin: 20px auto;
width: 95%;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
text-align: center;
}

.vous h1 {
color: #333;
font-size: 2em;
margin-bottom: 20px;
}

/* Debut de la mise en forme du contenu de la page d'accueil */
.categories {
    padding: 3rem 0;
    text-align: center;
}

/* .category-grid {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
} */

.category-item {
    /* width: 10px !important; */
    text-align: center;
    border: 1px solid #4acc9a;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}
.testimonial-category-item {
    width: 240px;
    padding: 1rem;
    border: 1px solid #4acc9a;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.category-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.category-item i {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: #ff6f61;
}

.testimonials {
    background-color: #fff;
    padding: 3rem 0;
    text-align: center;
}

.testimonial-grid {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.testimonial-item {
    width: 240px;
    padding: 1rem;
    border: 1px solid #e06328;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.testimonial-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.etape {
    text-align: center;
    margin-bottom: 30px;
  }
.etape img {
    width: 150px; /* Taille de l'image */
    height: 150px;
  }

.cta {
    /* background-color: #474241; */
    
    background-image: url('../images/abstract-luxury-gradient-blue.jpg');
    /* background-size: cover; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    height: 100vh;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    align-content: center;

}



.cta-container {
    display: flex;
    align-items: center;
    gap: 5rem;
    align-content: center;
    margin-left: 2%;
    margin-right: 2%;
}

.cta-image1 {
    width: 300px; /* Ajustez la taille selon vos besoins */
    height: 300px;
    border-radius:50% 50% 0% 100% / 0% 1% 99% 100%  ;
}
.cta-image2 {
    width: 300px; /* Ajustez la taille selon vos besoins */
    height: 300px;
    border-radius:0% 100% 100% 0% / 0% 0% 100% 100% ;
}
/* style pour la vidéo flottante */
#floating-video-container {
    position: fixed;
    right: 0;
    bottom: 20px;
    width: 300px;
    z-index: 1000;
    transition: width 0.3s, height 0.3s;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    overflow: hidden;
  }
  
  #video-controls {
    display: flex;
    justify-content: flex-end;
    background-color: #FF5841;
  }
  
  #video-controls button {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 5px;
  }
  
  #floating-video {
    width: 100%;
    height: auto;
  }
  
  #playlist {
    display: none;
    background: white;
    padding: 10px;
  }
  
  #playlist video {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    cursor: pointer;
  }

  /* Style pour le second slider */
  .carousel{
    height: 300px; 
    perspective: 300px;
	margin-top: 5%;
}
.carousel .carousel-item {
	width: 240px;
	height: 190px;
	box-shadow: 0 0 40px #61dafb, 0 0 40px #61dafb, 0 0 40px #61dafb;
	animation: animate 2s infinite alternate;
	border-radius: 15px;
}

@keyframes animate {
    to {
      box-shadow: 0 0 50px #43ec84b0, 0 0 50px #43ec84b0, 0 0 50px #43ec84b0;
    }
  }
  .background-block {
    background-image: url(../images/bricoleur-bleu.jpg); 
    background-size: cover;
    background-position: center;
    height: 50px;
    font-weight: bold;
    position: relative;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    transform: translateY(-5px);

}

.floating-text {
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
/*  Style pour la mise en relation clients --- Artisans */ 

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#carpentry-work, #plumbing-work, .location-input {
    padding: 22px;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.search-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    padding: 8px;
}

.search-button:hover {
    background-color: #0056b3;
}

.carpenters-list, .plumbers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.carpenter-card, .plumber-card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 15px;
    padding: 20px;
    text-align: left;
}

.profile-pic-container {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: #f0f0f0;
    position: relative;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    object-fit: cover;
}

.profile-pic-container img[src=""] {
    display: none;
}

.profile-pic-container:before {
    content: "\1F464"; /* Unicode for user icon */
    /* content: url('../images/profil.png'); Unicode for user icon */
    font-size: 50px;
    color: #ccc;
    position: absolute;
}

.carpenter-info, .plumber-info h2 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.plumber-info p {
    margin: 5px 0;
}

.contact-button {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #28a745;
    color: white;
    text-align: center;
    cursor: pointer;
}

.contact-button:hover {
    background-color: #218838;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#carpentry-work, .location-input{
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.search-button {
    background-color: #28860b;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.search-button:hover {
    background-color: #0ca82e;
}

.carpenters-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.carpenter-card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 15px;
    padding: 20px;
    text-align: left;
    display: none; /* Masquer les cartes par défaut */
}

.profile-pic-container {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: #f0f0f0;
    position: relative;
}

.profile-pic {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.profile-pic-container img[src=""] {
    display: none;
}

.profile-pic-container:before {
    content: "\1F464"; /* Unicode for user icon */
    font-size: 100px;
    color: #ccc;
    position: absolute;
}

.carpenter-info h2 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.carpenter-info p {
    margin: 5px 0;
}
.avis{
   font-style: italic;
   font-size: medium;
   font-weight: bold;

}
.contact-button {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #28a745;
    color: white;
    text-align: center;
    cursor: pointer;
}

.contact-button:hover {
    background-color: #218838;
}

.no-results {
    display: none;
    color: red;
    font-size: 1.2em;
    margin-top: 20px;
    text-align: center;
}

/* Styles pour le cadre de publicité */
.advertisement {
    margin: 20px 0;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    height: 100px;
    align-content: center;
}

.advertisement img {
    width: 60%;
    height: auto;
    border-radius: 10px;
    display :flex;
}

.advertisement {
    margin: 20px 0;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    position: relative;
    overflow: hidden;
}

.ad-carousel {
    display: flex;
    width: 100%;
    align-content: center;
    animation: slide 20s infinite;
}

.ad-item {
    min-width: 60%;
    transition: transform 2s ease;
}

.ad-item img {
    width: 60%;
    height: auto;
    border-radius: 10px;
}

/* Animation lumineuse */
@keyframes slide {
    0% { transform: translateX(0); }
    20% { transform: translateX(-100%); }
    40% { transform: translateX(-200%); }
    60% { transform: translateX(-300%); }
    80% { transform: translateX(-400%); }
    100% { transform: translateX(0); }
}

/* Animation lumineuse */
.ad-item img {
    position: relative;
    animation: shine 3s infinite;
}

@keyframes shine {
    0% {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    }
    50% {
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
    }
    100% {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    }
}

/* Styles pour la page de profil artisan */

/* Styles pour le portfolio */
.portfolio-section {
    margin-top: 20px;
  }

  .portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .portfolio-item {
    position: relative;
    width: 150px;
    height: 150px;
  }

  .portfolio-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .delete-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 0, 0, 0.7);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }

  .delete-button:hover {
    background-color: rgba(255, 0, 0, 0.9);

  }

  /* Styles pour le formulaire d'ajout de photo au portfolio*/
  #add-photo-form {
    margin-top: 20px;
  }

  #add-photo-form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }

  #add-photo-form button:hover {
    background-color: #45a049;
  }

  /* Styles pour la carte de contact */
  .contact-button {
    background-color: #008CBA;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
  }

  .contact-button:hover {
    background-color: #108b10;
  }

  .contact-card {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(101, 108, 206, 0.479);
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .contact-card .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 5px 10px;
  }

  .contact-card .contact-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .contact-option {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: rgba(15, 80, 117, 0.767);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #21438b;
  }

  .contact-option img {
    width: 24px;
    height: 24px;
  }

  .contact-option:hover {
    background-color: #0bbe47b7;
  }

  .card-header {
    
    background-color: #fd7e14;
  }