{% extends 'base.html' %}
{% load static %}
{% block title %}Connexion{% endblock %}

{% block content %}

<main>
    <h5 class="display-6 text-center my-5"> </h5>
    <div class="login-box">
        <h1 class="text-center bg-success text-white">Connexion</h1>
        <form method="post" action="{% url 'login' %}"  class="mt-4">
            {% csrf_token %}
            <div class="form-group">
                {{ form.numero_de_telephone.label_tag }}
                {{ form.numero_de_telephone }}
                {% if form.numero_de_telephone.errors %}
                    <div class="text-danger">{{ form.numero_de_telephone.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.mot_de_passe.label_tag }}
                {{ form.mot_de_passe }}
                {% if form.mot_de_passe.errors %}
                    <div class="text-danger">{{ form.mot_de_passe.errors }}</div>
                {% endif %}
            </div>
            <div class="form-check">
                {{ form.se_souvenir_de_moi }}
                {{ form.se_souvenir_de_moi.label_tag }}
            </div>
            <button type="submit" class="btn btn-primary mt-3">Se connecter</button>
            {% if form.non_field_errors %}
                <div class="text-danger mt-3">{{ form.non_field_errors }}</div>
            {% endif %}
        </form>
        <div class="mt-3">
            <a href="{% url 'choix-inscription' %}">S'inscrire</a> |
            <a href="{% url 'password-oublie' %}">Mot de passe oublié</a>
        </div>
    </div>
</main>
<!-- Le pieds de pages -->{% endblock %}