{% extends 'base.html' %}
{% load static %}
{% block title %}Contact{% endblock %}

{% block content %}

<main>
<div class="container mt-5">
    <div class="contact-form">
        <h2 class="text-center bg-success text-white">Contactez-nous :</h2>
        <form action="127.0.0.1:8000/contact/" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="nom">Nom</label>
                <input type="text" class="form-control" id="nom" name="nom" required>
            </div>
            <div class="form-group">
                <label for="prenom">Prénom</label>
                <input type="text" class="form-control" id="prenom" name="prenom" required>
            </div>
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="objet">Objet</label>
                <input type="text" class="form-control" id="objet" name="objet" required>
            </div>
            <div class="form-group">
                <label for="message">Votre message</label>
                <textarea class="form-control" id="message" name="message" rows="5" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Envoyer</button>
        </form>
    </div>
</div>

</main>
<!-- Le pieds de pages -->{% endblock %}