{% extends 'base.html' %}
{% load static %}
{% block title %}Nos services{% endblock %}

{% block content %}

<main>
    
    
    <h1 class="text-center my-3 display-4">Decouvrez nos services !</h1>
    <div class="" style="background-image: url('/static/artisanfinder/images/texture_1.png'); background-size:contain;">

    
        <div class="row">
            <div class=""></div>
            <section class="cont col-10 animate__animated animate__zoomIn">
                <ul class="list-metier row">
                    {% for met in metier %}
                    <li class="btn-custom col-md-3">
                        <a href="{% url 'metier' met.id %}">
                            <figure style="padding: 10px 5px;">
                                <img src="{{met.icon.url}}." alt="{{met.Nom}}">
                                <figcaption> {{met.Nom}} </figcaption>
                            </figure>
                        </a>
                    </li>
                    {% endfor %}
                </ul>

            </section>
            
        </div>



    </div>
</main>

<!-- Le pieds de pages -->{% endblock %}