{% extends 'base.html' %}
{% load static %}
{% block title %}Connexion{% endblock %}

{% block content %}

<main>




    <div class="slogan">
        <img src="{% static 'artisanfinder/images/Artisan1jpg.jpg'%}" alt="">
        <h2> "Transformez votre quotidien avec l'expertise de nos artisans"</h2>
    </div>
    <h5 class="display-6 text-center my-3">Decouvrez nos services!</h5>
    <section class="cont ">
        <ul class="list-metier ">
            <li>
                <a href="#">
                    <figure>
                        <img src="{% static 'artisanfinder/images/constructeur.png'%}." alt="Menuiserie">
                        <figcaption>Menuisier</figcaption>
                    </figure>
                </a>
            </li>
            <li>
                <a href="#">
                    <figure>
                        <img src="{% static 'artisanfinder/images/bijoutier.png'%}." alt="Menuiserie">
                        <figcaption>Bijoutier</figcaption>
                    </figure>
                </a>
            </li>
            <li>
                <a href="#">
                    <figure>
                        <img src="{% static 'artisanfinder/images/ciseaux-et-peigne.png'%}." alt="Menuiserie">
                        <figcaption>Coiffure</figcaption>
                    </figure>
                </a>
            </li>
            <li>
                <a href="#">
                    <figure>
                        <img src="{% static 'artisanfinder/images/renovation.png'%}." alt="Menuiserie">
                        <figcaption>Renovation</figcaption>
                    </figure>
                </a>
            </li>
            <li>
                <a href="#">
                    <figure>
                        <img src="{% static 'artisanfinder/images/support-informatique.png'%}." alt="Menuiserie">
                        <figcaption>Maintenance informatique</figcaption>
                    </figure>
                </a>
            </li>
            <li><a href="#">
                    <figure>
                        <img src="{% static 'artisanfinder/images/jardinage.png'%}." alt="Menuiserie">
                        <figcaption>Jardinage</figcaption>
                    </figure>
                </a>
            </li>
            <li>
                <a href="#">
                    <figure>
                        <img src="{% static 'artisanfinder/images/brosse-a-rouleau.png'%}." alt="Menuiserie">
                        <figcaption>Decoration d'interieur</figcaption>
                    </figure>
                </a>
            </li>
            <li>
                <a href="#">
                    <figure>
                        <img src="{% static 'artisanfinder/images/couture.png'%}." alt="Menuiserie">
                        <figcaption>Couture</figcaption>
                    </figure>
                </a>
            </li>
            <li>
                <a href="#">
                    <figure>
                        <img src="{% static 'artisanfinder/images/electricite.png'%}." alt="Menuiserie">
                        <figcaption>Electricité</figcaption>
                    </figure>
                </a>
            </li>
            <li>
                <a href="#">
                    <figure>
                        <img src="{% static 'artisanfinder/images/domotique.png'%}." alt="Menuiserie">
                        <figcaption>Domotique</figcaption>
                    </figure>
                </a>
            </li>
            <li>
                <a href="#">
                    <figure>
                        <img src="{% static 'artisanfinder/images/blanchisserie.png'%}." alt="Menuiserie">
                        <figcaption>Blanchisserie</figcaption>
                    </figure>
                </a>
            </li>
            <li>
                <a href="#">
                    <figure>
                        <img src="{% static 'artisanfinder/images/robinet.png'%}." alt="Menuiserie">
                        <figcaption>Plomberie</figcaption>
                    </figure>
                </a>
            </li>
            <li>
                <a href="#">
                    <figure>
                        <img src="{% static 'artisanfinder/images/Climatisation.png'%}." alt="Menuiserie">
                        <figcaption>Climatisation</figcaption>
                    </figure>
                </a>
            </li>
            <li>
                <a href="#">
                    <figure>
                        <img src="{% static 'artisanfinder/images/constructeur1.png'%}." alt="Menuiserie">
                        <figcaption>Marçon</figcaption>
                    </figure>
                </a>
            </li>
            <li>
                <a href="#">
                    <figure>
                        <img src="{% static 'artisanfinder/images/serrure-intelligente.png'%}." alt="Menuiserie">
                        <figcaption>Serrurerie</figcaption>
                    </figure>
                </a>
            </li>
            <li>
                <a href="#">
                    <figure>
                        <img src="{% static 'artisanfinder/images/Carrelage.png'%}." alt="Menuiserie">
                        <figcaption>Carrelage</figcaption>
                    </figure>
                </a>
            </li>
            <li>
                <a href="#">
                    <figure>
                        <img src="{% static 'artisanfinder/images/roulette.png'%}." alt="Menuiserie">
                        <figcaption>Ferronnier</figcaption>
                    </figure>
                </a>
            </li>
            <li>
                <a href="#">
                    <figure>
                        <img src="{% static 'artisanfinder/images/fenetre.png'%}." alt="Menuiserie">
                        <figcaption>Vitrier</figcaption>
                    </figure>
                </a>
            </li>
            <li>
                <a href="#">
                    <figure>
                        <img src="{% static 'artisanfinder/images/garage.png'%}." alt="Menuiserie">
                        <figcaption>Mecanique</figcaption>
                    </figure>
                </a>
            </li>
            <li>
                <a href="trouver_Artisan.html">
                    <figure>
                        <img src="{% static 'artisanfinder/images/chercher.png'%}." alt="Menuiserie">
                        <figcaption>Plus de metier</figcaption>
                    </figure>
                </a>
            </li>
        </ul>
    </section>
    <section class="vous">
        <h1>Trouvez des professionnel pres de chez vous!</h1>
        <div class="arti ">
            <p>Découvrez des artisans qualifiés et fiables pour tous vos besoins.
                Nos experts sont triés sur le volet pour garantir un service exceptionnel à chaque fois,
                Réservez vos services en quelques clics ! Notre plateforme intuitive vous permet de trouver et
                de réserver les meilleurs artisans en un rien de temps
                notre équipe de support est là pour vous !
            </p>
            <img src="{% static 'artisanfinder/images/Artisan2.jpg'%}" alt="">
            <img src="{% static 'artisanfinder/images/Artisan1jpg.jpg'%}" alt="">
            <img src="{% static 'artisanfinder/images/coutu.jpg'%}" alt="">
            <img src="{% static 'artisanfinder/images/bijoux.jpg'%}" alt="">
        </div>
    </section>
    <h2> Pour toute question ou assistance,
        nous sommes disponibles pour vous aider à chaque étape n'hesistez pas <a href="#"> a nous contacter</a></h2>
</main>

<!-- Le pieds de pages -->{% endblock %}