{% extends 'base.html' %}
{% load static %}
{% block title %}Trouver artisan{% endblock %}

{% block content %}>

    <main>
    <div class="container mt-5">
        <h1 class="display-5">Trouver un artisan</h1>
        <!-- <form id="searchForm" method="GET"> -->
            <form id="artisan-filter-form" method="GET" action="{% url 'artisan' %}">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="metier">Métier:</label>
                        <select name="metier" id="metier" class="form-control">
                            <option value="">-- Sélectionner un métier --</option>
                            {% for metier in metiers %}
                                <option value="{{ metier.id }}">{{ metier.Nom }}</option>
                            {% endfor %}
                        </select>     
                    </div>
                    <div class="form-group col-md-3">
                        <label for="ville">Ville:</label>
                        <input type="text" name="ville" id="ville" class="form-control" placeholder="Ex: Abidjan, Yopougon, Bouaké">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="commune">Commune:</label>
                        <input type="text" name="commune" id="commune" class="form-control" placeholder="Commune">
                    </div>
                </div>
                <button class="btn btn-success" type="submit">Rechercher</button>
            </form>

        <!-- Liste des artisan -->
        <div class="carpenters-list">
            <div class="carpenter-card" data-location="Abidjan">
                <div class="profile-pic-container">
                    <img src="" alt="Menuisier 1" class="profile-pic">
                </div>
                <div class="carpenter-info">
                    {% if userprofile.photo_de_profil %}

                    <img src="{{ userprofile.photo_de_profil.url }}" width="150px" height="150px" alt="Profile picture"
                        class="img-fluid">

                    {% else %}

                    <img width="150px" height="150px" src="{% static 'artisanfinder/images/Image1.png' %}"
                        class="img-fluid" alt="Franck Kouamé">

                    {% endif %}

                    <h2>{{artisan.Prenom}} {{artisan.Nom}}</h2>
                    <p>{{userprofile.Ville}}, {{userprofile.Commune}}</p>
                    <p>Note: ★★★★☆</p>
                    <p class="slogan-artisan">"Votre satisfaction est notre priorité!"</p>
                    <hr>
                    <p class="text-center">Avis le plus récent :</p>
                    <p class="review">"Excellent service, rapide et efficace!"</p>
                    <br>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#artisanModal">
                        Voir le profil
                    </button>
                </div>
            </div>   
        </div>
        <div id="no-results" class="no-results text-center">Aucun artisan n'a encore été enregistré dans votre localité.</div>
        <script src="{% static 'artisanfinder/js/scripts.js}"></script>
    </div>
    <div class="contact-card" id="contact-card">
        <button class="close-button" onclick="hideContactCard()">X</button>
        <div class="contact-options">
            <a id="contact-phone" href="#" class="contact-option text-white">
                <img src="{% static 'artisanfinder/images/phone.png' %}" alt="Appel téléphonique">
                Appel téléphonique
            </a>
            <a id="contact-whatsapp" href="#" target="_blank" class="contact-option text-white">
                <img src="{% static 'artisanfinder/images/whatsapp.png' %}" alt="WhatsApp">
                WhatsApp
            </a>
            <a id="contact-email" href="#" class="contact-option text-white">
                <img src="{% static 'artisanfinder/images/email.png' %}" alt="Email">
                Email
            </a>
        </div>
    </div>
    <!-- OpenStreetMap -->
<div class="container mt-5">
    <div class="w-100" id="map">
        
    </div>
    

</div>

<!-- Modal pour le portfolio -->
<div class="modal fade" id="portfolioModal" tabindex="-1" aria-labelledby="portfolioModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="portfolioModalLabel">Portfolio</h5>
                <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
            </div>
            <div class="modal-body" id="portfolio-content">
                <!-- Les images du portfolio seront chargées ici -->
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                
              </div> -->
        </div>
    </div>
</div>

<!-- Leaflet JS -->
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<!-- Leaflet Geocoding Plugin -->
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>


<script>
    let map;
    let markers = [];

    function initMap() {
        map = L.map('map').setView([7.681071510710642, -5.039615938796328], 10); // Centré sur Bouaké par défaut

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        loadArtisans();
    }

    function clearMarkers() {
        markers.forEach(marker => map.removeLayer(marker));
        markers = [];
    }

    function addMarker(location, title, artisanId) {
        const marker = L.marker(location).addTo(map);

        marker.on('click', function() {
            fetch(`/artisan/details/${artisanId}/`)
                .then(response => response.json())
                .then(details => {
                    // Mise à jour des options de contact
                    document.getElementById('contact-phone').href = `tel:+225${details.telephone}`;
                    document.getElementById('contact-whatsapp').href = `https://wa.me/+225${details.telephone}`;
                    document.getElementById('contact-email').href = `mailto:${details.email}`;

                    // Générer le contenu HTML du pop-up
                    const competencyList = details.competencies.length > 0
                        ? details.competencies.map(comp => `<li class="list-group-item"><span class="badge text-bg-light">${comp}</span></li>`).join('')
                        : '<li>Aucune compétence enregistrée.</li>';
                    const popupContent = `
                        <div class="card" style="width: 19rem; height: 370px">
                            <div class="table-responsive" style="width: 19rem; height: 100%">
                                <img src="${details.photo ? details.photo : '{% static 'artisanfinder/images/Image1.png' %}'}" class="card-img-top img-thumbnail shadow" alt="${details.name}">
                                <div class="card-body">
                                    <h5 class="card-title">${details.name}</h5>
                                    <p class="card-text">${details.description}</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><strong>Métier:</strong> ${details.metier}</li>
                                    <li class="list-group-item"><strong>Entreprise:</strong> ${details.entreprise}</li>
                                    <li class="list-group-item"><strong>Année d'expérience:</strong> ${details.experience}</li>
                                    <li class="list-group-item"><strong>Ville:</strong> ${details.ville}</li>
                                    <li class="list-group-item"><strong>Commune:</strong> ${details.commune}</li>
                                    ${competencyList}
                                </ul>
                            </div>
                            <div class="card-body row g-0">
                                <button class="btn btn-secondary col-md-6 text-white" type="button" onclick="showPortfolio(${artisanId})">Voir Portfolio</button>
                                <button class="contact-button btn btn-success col-md-6 text-white" onclick="showContactCard()" type="button">Contacter</button>
                            </div>
                        </div>
                    `;

                    marker.bindPopup(popupContent).openPopup();
                })
                .catch(error => {
                    console.error('Error fetching artisan details:', error);
                    alert('Erreur lors de la récupération des détails de l\'artisan.');
                });
        });

        markers.push(marker);
    }

    function loadArtisans() {
        fetch("{% url 'artisan' %}", {
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            }
        })
        .then(response => response.json())
        .then(data => {
            data.forEach(artisan => {
                addMarker([artisan.lat, artisan.lng], artisan.name + ' - ' + artisan.activity, artisan.id);
            });
        })
        .catch(error => {
            console.error('Error fetching artisans:', error);
            alert('Erreur lors de la récupération des artisans.');
        });
    }

    function showPortfolio(artisanId) {
        fetch(`/artisan/portfolio_photos/${artisanId}/`)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok.');
                }
                return response.json();
            })
            .then(dataMedia => {
                // Vérifiez les données reçues
                if (!dataMedia || !Array.isArray(dataMedia.portfolio)) {
                    throw new Error('Invalid data format');
                }

                // Afficher les photos du portfolio
                const portfolioContent = document.getElementById('portfolio-content');
                portfolioContent.innerHTML = dataMedia.portfolio.length > 0
                    ? dataMedia.portfolio.map(photoUrl => 
                        `<div class="row">
                            <div class="col-md-12 mb-3">
                                <img src="${photoUrl}" class="img-fluid img-thumbnail">
                            </div>
                        </div>`
                      ).join('')
                    : '<p class="text-center">Aucune photo disponible.</p>';

                // Afficher le modal
                new bootstrap.Modal(document.getElementById('portfolioModal')).show();
            })
            .catch(error => {
                console.error('Error fetching portfolio photos:', error);
                alert('Erreur lors de la récupération des photos du portfolio.');
            });
    }

    function showContactCard() {
        document.getElementById('contact-card').style.display = 'block';
    }

    function hideContactCard() {
        document.getElementById('contact-card').style.display = 'none';
    }

    document.getElementById('artisan-filter-form').addEventListener('submit', function(event) {
        event.preventDefault();
        const metier = document.getElementById('metier').value;
        const ville = document.getElementById('ville').value;
        const commune = document.getElementById('commune').value;

        L.Control.Geocoder.nominatim().geocode(ville + ' ' + commune, function(results) {
            if (results.length > 0) {
                const center = results[0].center;
                map.setView(center, 13);
                clearMarkers();

                fetch("{% url 'artisan' %}?metier=" + metier + "&ville=" + ville + "&commune=" + commune, {
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest'
                    }
                })
                .then(response => response.json())
                .then(data => {
                    data.forEach(artisan => {
                        addMarker([artisan.lat, artisan.lng], artisan.name + ' - ' + artisan.activity, artisan.id);
                    });
                })
                .catch(error => {
                    console.error('Error fetching artisans:', error);
                    alert('Erreur lors de la récupération des artisans.');
                });
            } else {
                alert('La géolocalisation a échoué.');
            }
        });
    });

    initMap();
</script>
</main>
<!-- Le pieds de pages -->{% endblock %}