{% extends 'base.html' %}
{% load static %}
{% block title %}A Propos{% endblock %}

{% block content %}

    <h5 class="display-6 text-center my-3">Vie privée: </h5>

    <main class="container my-4 min-vh-100">
        <div class="row g-4">
            <div class="col">
                <h2 class="mt1">Données personnelles</h2>
                <p>Les informations recueillies sur ce site sont enregistrées dans un fichier informatisé par
                    l'entreprise 22 pour la gestion du contenu du site et du compte utilisateur.</p>
                <p>Elles sont conservées jusqu’à suppression du compte et sont destinées exclusivement à
                    l'entreprise 22. </p>
                <p>Conformément à la loi « informatique et libertés », vous pouvez exercer votre droit d’accès aux
                    données vous concernant et les faire rectifier en contactant sur notre page d'adresses.</p>
                
                <h2 class="mt1">Les Cookies</h2>
                <p>Pour assurer le bon fonctionnement de notre site, nous devons parfois enregistrer de petits fichiers de
                    données sur l'appareil de nos utilisateurs. La plupart des grands sites web font de même.</p>
                <h3 class="mt1">Qu’est-ce qu’un cookie ?</h3>
                <p>Un cookie est un petit fichier texte que les sites web sauvegardent sur votre ordinateur ou appareil
                    mobile lorsque vous les consultez. Il permet à ces sites de mémoriser vos actions et préférences
                    (nom d’utilisateur, langue, taille des caractères et autres paramètres d’affichage) pendant un temps
                    donné, pour que vous n’ayez pas à indiquer ces informations à chaque fois que vous consultez ces sites
                    ou naviguez d’une page à une autre.</p>
                <h3 class="mt1">Comment utilisons-nous les cookies ?</h3>
                <p>Nous utilisons les cookies uniquement à des fins de statistiques pour connaître le comportement des
                    visiteurs et optimiser leur expérience.</p>
                <h3 class="mt1">Liste des cookies générés par ce site</h3>
                <ul>
                    <li><strong>Cookies strictement nécessaires</strong> </li>
                    <li><strong>Cookies de performance </strong></li>
                    <li><strong>Cookies de fonctionnalité</strong></li>
                    <li><strong>Cookies de ciblage marketing</strong></li>
                    
                </ul>
                <h3 class="mt1">Comment contrôler les cookies</h3>
                <p>Vous pouvez contrôler et/ou supprimer des cookies comme vous le souhaitez. Pour en savoir plus,
                    consultez aboutcookies.org. Vous avez la possibilité de supprimer tous les cookies déjà stockés sur
                    votre ordinateur et de configurer la plupart des navigateurs pour qu’ils les bloquent. Toutefois,
                    dans ce cas, vous devrez peut-être indiquer vous-mêmes certaines préférences chaque fois que vous
                    vous rendrez sur un site, et certains services et fonctionnalités risquent de ne pas être
                    accessibles.</p>
            </div>
        </div>
    </main>



    

<!-- Le pieds de pages -->{% endblock %}